<div id="photos"></div>

<script type="text/javascript"> 
  var socket = io.connect('/');
  socket.on('photo', function(data){
      console.log(data);
      $('#photos').append("<img src='" + data.url + "' ></img>");
  });
</script>
