<div id="map-canvas"></div>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCG5nl0KVUWrI-XKX2e9C3Fh1Df126OgiA"></script>
<script type="text/javascript">

  var marker, circle, map;

 var socket = io.connect('/');
  socket.on('photo_map', function(data){

  	if(data.media.location){
  		var Latlng = new google.maps.LatLng(data.media.location.latitude,data.media.location.longitude);
		var marker = new google.maps.Marker({
		  position: LatLng,
		  map: map,
		  icon: data.media.images.thumbnail
		});
	}
      console.log(data);
  });

  socket.on('test', function(data){
      console.log(data);
  });

function initialize() {
    var mapOptions = {
        center: {
            lat: -30.028571002398685,
            lng: -51.20356857776642
        },
        zoom: 4
    };

    map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
    
}

google.maps.event.addDomListener(window, 'load', initialize);

</script>