<!DOCTYPE html>
<html>
  <head>
    <title>HUIA LABS</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<body>
    <div id="background">
    </div>
</body>
  <h1>HUIA LABS</h1>
  	<%-body%>
  </body>
</html>